@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Registro de Empleados</h1>
    <h2>Ingrese los datos del empleado</h2>

    <form asp-action="GuardarEmpleado" method="post">
        <div class="mb-3">
            <label for="Name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="_Nombre">
        </div>
        <div class="mb-3">
            <label for="LastName" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="_Apellido">
        </div>
        <div class="mb-3">
            <label for="Adress" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="_Direccion">
        </div>
        <div class="mb-3">
            <label for="Birthday" class="form-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="_fechaNacimiento">
        </div>
        <div class="mb-3">
            <label for="Entrydate" class="form-label">Fecha de Contratacion</label>
            <input type="date" class="form-control" id="_fechaIngreso">
        </div>
        <button type="submit" class="btn btn-primary">Guardar en log</button>
    </form>
    
</div>
